<div id="mainWrap">
    <section class="naslov">
        <h1>JEDAN</h1>
        <hr>
        <h3>Finibus Bonorum</h3>
    </section>
    <section class="content">
        <div class="circle left"></div>
        <div class="tekst left">
            <h3>Lorem Ipsum</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </p>
        </div>
    </section>

    <section class="content">
        <div class="circle right"></div>
        <div class="tekst right">
            <h3>Lorem Ipsum</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </p>
        </div>
    </section>
    <section class="content">
        <div class="circle left"></div>
        <div class="tekst left">
            <h3>Lorem Ipsum</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </p>
        </div>
    </section>

    <section class="content">
        <div class="circle right"></div>
        <div class="tekst right">
            <h3>Lorem Ipsum</h3>
            <p>
                It is a long established fact that a reader will be distracted by the readable content of a page when
                looking at its layout.
            </p>
        </div>
    </section>
        <div class="mail">
            <p>neki@mail.hr</p>
        </div>
</div>
<app-dva></app-dva>