#mainWrap{
    width:80%;
    min-height:100vh;
    margin:0 auto;
}

table{
    width:100%;
}

.new{
    height:30px;
    width:50px;
    margin: 0 auto;
}

.content{
    width: 100%;
    min-height:40vh;
    color:white;
    overflow: hidden;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}